// BUTTONS

.btn {

    border: 0;
    padding: 10px 20px;
    height: 40px;
    border: 2px solid $main-color;
    font-size: $font-base-size + 3px;
    font-weight: 300;
    text-transform: uppercase;
}

.btn-primary {
    
    color: $text-primary;
    background-color: $main-color;
}

.btn-transparent {

    color: $main-color;
    background-color: transparent;
}