#jumbotron {

    background-image: url("../img/bg-painter-home.jpg");
    background-size: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;


    .container {

        @include container;

        .wrapper-infos > * {

            margin: 10px 0;
        }
        
        .wrapper-infos {

            width: 45%;
            height: 70%;
            display: flex;
            flex-direction: column;
        }

        #dark-logo {

            width: 250px;
        }

        .descr {

            font-size: $medium-font;
        }

        .offer {

            color: $text-offer;
        }
    }
}