$main-color: #000;

/* Colors */
$text-primary: #FFF;
$text-secondary: #70716f;
$text-offer: #c921b4;
$text-link: #40b8ff;

/* Typography */
$small-font: 10px;
$font-base-size: 14px;
$medium-font: 20px;
$large-font: 30px;

/* Boxes */
$box-purple: #3c1567;
$box-blue: #0072bc;
$box-gray: #3c3c3c;

/* Socials */
$instagram: #e4405f;
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #cd201f;
$pinterest: #bd081c;
$rss: #ff8d00;

@mixin container {

    width: 80%;
    margin: 0 auto;
}

@mixin nav-links {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

@mixin thumbnail {

    flex-basis: calc(95% / 3);
    display: flex;
    flex-direction: column;
}

@mixin box-cell {

    flex-basis: 50%;
    height: 300px;
}