$main-color: #000;

/* Colors */
$text-primary: #FFF;
$text-secondary: #70716f;
$text-offer: #c921b4;

/* Typography */
$font-base-size: 14px;
$medium-font: 20px;

@mixin container {

    width: 80%;
    margin: 0 auto;
}

@mixin nav-links {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}